
@{
    @*//pending
        //approved
        //processorders
        //ongoingorders
        //completedorders
        //cancelledorders*@
    Layout = "~/Views/Shared/_Layout.cshtml";
    var status = Context.Request.Query["status"];
    var pending = "text-primary";
    var approved = "text-primary";
    var processorders = "text-primary";
    var ongoingorders = "text-primary";
    var completedorders = "text-primary";
    var cancelledorders = "text-primary";
    var all = "text-primary";
    switch (status)
    {
        //case "pending":
        //    pending = "active text-primary";
        //    break;
        case "approved":
            approved = "active text-primary";
            break;
        case "processorders":
            processorders = "active text-primary";
            break;
        case "ongoingorders":
            ongoingorders = "active text-primary";
            break;

        case "completedorders":
            completedorders = "active text-primary";
            break;
        case "cancelledorders":
            cancelledorders = "active text-primary";
            break;

        default:
            pending = "active text-primary";
            break;
    }

}

<br />
<div class="border p-3 bg-white">
    <h2 class="text-primary">Order's List</h2>





    <div class="d-flex justify-content-between ">
        @*<div class="p-2">
                <h2 class="text-primary">Order's List</h2>
            </div>*@
        <div class="p-12">
            <ul class="list-group list-group-horizontal-lg" style="text-align:right;">
                @*//pending
                    //approved
                    //processorders
                    //ongoingorders
                    //completedorders
                    //cancelledorders*@


                <a style="text-decoration:none;" asp-controller="Order" asp-action="test" asp-route-status="pending">
                    <li class="list-group-item @pending">Pending</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order" asp-action="test" asp-route-status="approved">
                    <li class="list-group-item @approved">Approved</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order" asp-action="test" asp-route-status="processorders">
                    <li class="list-group-item @processorders">Process Orders</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order" asp-action="test" asp-route-status="ongoingorders">
                    <li class="list-group-item @ongoingorders">On Going Orders</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order" asp-action="test" asp-route-status="completedorders">
                    <li class="list-group-item @completedorders">Completed Orders</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order" asp-action="test" asp-route-status="cancelledorders">
                    <li class="list-group-item @cancelledorders">Cancelled Orders</li>
                </a>
                @*<a style="text-decoration:none;" asp-controller="Order" asp-action="test" asp-route-status="all">
                        <li class="list-group-item @all">All</li>
                    </a>*@
            </ul>
        </div>
    </div>
    <br />
    <br />


    <div style="overflow-x: scroll;">


        <table id="DT_load" class="table  table-bordered" style="width:100%">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>Action</th>
                    <th>Order No.</th>


                    <th>City</th>
                    <th>Store Name</th>
                    <th>Customer Name</th>
                    <th>Amount</th>
                    <th>Order Date</th>
                    <th>Status</th>
                    <th>Delivery Boy</th>
                    <th>Time</th>
                    <th>Payment Type</th>
                    @*<th>Payment Status</th>
                    <th>Deliveryboy Status</th>*@

                    @*<th>logintype</th>*@
                </tr>
            </thead>
        </table>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />

</div>


<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">



    <div class="modal-dialog">

        <div class="modal-content">
            @*<div class="modal-header" style="background-color: #67bbe6;">*@
                <div class="modal-header btn-info " >
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                    <h4 class="modal-title text-center">Cash Payment Details </h4>
                </div>
                <div class="modal-body" style="background-color: white; height: 80px; padding-top: 10px;">
                    <div class="row">
                        <div class="col-sm">
                            <br />
                            Payment Status :
                        </div>
                        <div class="col-sm">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="group" id="Unpaid" value="Unpaid" >
                                <label class="form-check-label" for="exampleRadios1">
                                    Unpaid
                                </label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="group" id="Paid" value="Paid" checked>
                                <label class="form-check-label" for="exampleRadios2">
                                    Paid
                                </label>
                            </div>
                        </div>
                    </div>
                   







                    @*<input type="radio" id="Unpaid" name="paymentstatus" class="form-control" value="Unpaid">
        <label for="male">Unpaid</label>
        <input type="radio" id="Paid" name="paymentstatus" class="form-control" value="Paid">
        <label for="female">Paid</label>*@


                    <input type="hidden" name="OrderId" id="OrderId" value="" />


                    @*@{Html.Action("Index", "Accounts");}*@

                </div>
            <div class="modal-footer"  style="background-color: white">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="btnCashPayment" class="btn  btn-info">Complete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->


</div><!-- /.modal -->

@section Scripts{
    <script src="~/js/order.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("click", ".open-AddBookDialog", function () {
                var myBookId = $(this).data('id');
                $(".modal-body #OrderId").val(myBookId);
                $('#myModal').modal('show');
            });

            $("#btnCashPayment").click(function () {
                var Id = $(".modal-body #OrderId").val();
                var status = $("input[name='group']:checked").val();
                //var status = $("input[name='paymentstatus']:checked").val();
                $.ajax({
            type: "POST",
                 url: "@Url.Action("ChangeCashPaymentStatus", "Order")",

                    data: { paymentstatus: status, oid: Id},
                      dataType: "text",
                    success: function (msg) {
                       
                        if(msg == "success")
                        {
                            window.location.href = '/Order/changeorderStatus?id=' + Id + '&status=' + "completedorders";
                        }
                           

            },
            error: function (req, status, error) {
                console.log(error);
            }
             });

            });

        });
    </script>
}

@*@if (ViewBag.Message != null)
    {
        <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.Message");
                };
        </script>
    }*@